@font-face {
    font-family: buttonF;
    src: url(Retro_Gaming.ttf);
}

.buttonStyling {
    background-color: #add6e5;
    height: 45px;
    width: 150px;
    border-radius: 10px;
    border-color: #ffc5d5;
    border-style: solid;
    border-width: 3.5px;
    font-family: buttonF;
}

.buttonStyling:hover {
    background-color: #ffc5d5;

}

.inputStyling {
    background-color: white;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border-color: #ffc5d5;
    border-style: solid;
    border-width: 2px;
    font-family: buttonF;

}


/* REFERENCER
CCS styling - https://www.w3schools.com/css/default.asp */