@font-face {
    font-family: buttonFont;
    src: url(Righteous-Regular.ttf);
}

.buttonStyling {
    background-color: #544a5c;
    opacity: 0.7;
    border-radius: 20px;
    transition-duration: 0.7s;
    border: 0px;
    font-family: buttonFont;
}

.buttonStyling:hover {
    background-color: #19181a;
    transform: scale(1.05);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}